@model Employee

<form>
    <table class="input-table">
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="FirstName"></label>
            </th>
            <td class="input-cell">
                <input asp-for="FirstName" class="form-control" disabled />
            </td>
        </tr>
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="LastName"></label>
            </th>
            <td class="input-cell">
                <input asp-for="LastName" class="form-control" disabled />
            </td>
        </tr>
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="Title"></label>
            </th>
            <td class="input-cell">
                <textarea asp-for="Title" class="form-control" style="resize: none;" disabled></textarea>
            </td>
        </tr>
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="BirthDate"></label>
            </th>
            <td class="input-cell">
                <input asp-for="BirthDate" class="form-control" type="date" disabled />
            </td>
        </tr>
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="Position"></label>
            </th>
            <td class="input-cell">
                <input asp-for="Position" class="form-control" disabled />
            </td>
        </tr>
    </table>
</form>
