@model Note

<form>
    <input asp-for="Id" hidden />
    <input asp-for="CompanyId" hidden />
    <table class="input-table">
        <tr class="input-header-line">
            <th class="input-header-cell" colspan="2">Adding new note</th>
        </tr>
        <br />
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="InvoiceNumber"></label>
            </th>
            <td class="input-cell">
                <input asp-for="InvoiceNumber" class="form-control" disabled />
                <span asp-validation-for="InvoiceNumber"></span>
            </td>
        </tr>
        <tr class="input-line">
            <th class="input-label-cell">
                <label asp-for="Employee"></label>
            </th>
            <td class="input-cell">
                @if (Model.AvailableEmployees?.Count() > 0)
                {
                    <select asp-for="Employee" asp-items="@Model.AvailableEmployees"></select>
                }
                else
                {
                    <div class="error-message">No available employees</div>
                }
                <span asp-validation-for="Employee"></span>
            </td>
        </tr>
        <tr class="buttons-line">
            <td class="button-cell">
                <button type="button" class="form-control Notes-button Notes-submit">Submit</button>
            </td>
            <td class="button-cell">
                <button type="button" class="form-control Notes-button Notes-cancel">Cancel</button>
            </td>
        </tr>
    </table>
</form>
